<!--start footer-->
<footer class="footer" style="position: fixed">
  <div class="footer-text">Copyright © 2023. All right reserved.</div>
</footer>
<!--end footer-->
<!--start overlay-->
<div class="overlay nav-toggle-icon"></div>
<!--end overlay-->
