<aside class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon" />
    </div>
    <div>
      <h4 class="logo-text">LOGO</h4>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="/dashboard">
        <div class="parent-icon">
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <div class="menu-title">Dashboard</div>
      </a>
    </li>
    <li>
      <a href="/contact">
        <div class="parent-icon">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>
        <div class="menu-title">Contact</div>
      </a>
    </li>
    <li>
      <a href="/About">
        <div class="parent-icon">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>
        <div class="menu-title">About</div>
      </a>
    </li>


  </ul>
  <!--end navigation-->
</aside>